<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Error</title>

    <!-- ===== FAVICON ===== -->
    <link rel="icon" type="image/x-icon" th:href="@{/IMG/favicon.ico}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/IMG/favicon.ico}">
    <!-- Para PNG (alta resolución) -->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/IMG/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/IMG/favicon-16x16.png}">
    <!-- Apple Touch Icon (para iOS) -->
    <link rel="apple-touch-icon" th:href="@{/IMG/apple-touch-icon.png}">

    <!-- ===== CSS ===== -->
</head>
<body>
<h1>Error Page</h1>
<div th:if="${error}">
    <p th:text="${error}">Error message</p>
</div>
<div th:if="${message}">
    <p th:text="${message}">Error message</p>
</div>
<a href="/">Go Home</a>
</body>
</html>